https://api.github.com/repos/offscale/offutils/zipball#egg=offutils
https://api.github.com/repos/offscale/offutils-strategy-register/zipball#egg=offutils-strategy-register
https://api.github.com/repos/offscale/offregister-fab-utils/zipball#egg=offregister_fab_utils
jsonref
